@{
    ViewBag.Title = "About";
}
@section styles{
    @Styles.Render("~/Content/ckeditor")
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<zan-bread-crumb></zan-bread-crumb>
<p>Use this area to provide additional information.</p>

<zan-basic-editor></zan-basic-editor>
